*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: #fff;
}

header nav a {
    color: blueviolet;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
}

header nav a:hover {
    color: #fff;
    text-decoration: underline;
}

header {
    height: 10vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogs {
    height: 80vh;
    min-height: 80vh;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
}

#blog {
    border: 1px solid grey;
    height: 95%;
    width: 23%;
    min-width: 12rem;
    margin-left: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 10px;
    align-items: center;
    background-color: #fff;
    border: 2px solid grey;
    color: black;
    /* box-shadow: 2px 2px 2px grey, -2px -2px 2px grey; */
    box-shadow: 0 0 5px #fff;
    margin-bottom: 15px;
    overflow: hidden;
}

#blog h1 {
    font-size: 20px;
    margin: 2px 5px;
}

#blog p {
    font-size: 14px;
    margin: 2px 5px;
}

#imgBox {
    height: 50%;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
}

#blog img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: 0.5s all ease;
}

#blog img:hover {
    scale: 1.2
}

#blog button {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: salmon;
    background-color: rgb(245, 201, 196);
    cursor: pointer;
    font-size: 20px;
}

#blog button:hover {
    text-decoration: underline;
}

#addIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin: 10px 0;
    margin-right: 15px;
}

#addBlog {
    height: 50vh;
    position: absolute;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    background-color: #dce4f1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

#addBlog input {
    font-size: 16px;
    padding: 10px ;
    margin: 0 20px;
    border: none;
    outline: none;
}

#addBlog textarea {
    height: 40%;
    margin: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
}

#closeBlog {
    position: relative;
    display: flex;
    justify-content: end;
    color: blueviolet;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 25px;
}

#addBlogBtn, #deleteBlogBtn {
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
    background-color: blueviolet;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
}

#addBlogBtn:hover {
    text-decoration: underline;
}

/* blog page styling */

.blogPage {
    height: 80vh;
    width: 90vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blog-page>h1 {
    text-align: center;
    margin: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    background-color: blueviolet;
    height: 50%;
    color: black;
    width: 97%;
    display: flex;
    /* width: 90%; */
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.top .topContent {
    margin: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top .topContent h1 {
    margin-bottom: 15px;
}

.top img {
    margin: 20px;
    border-radius: 10px;
}

.bottom {
    height: 50%;
    color: black;
    margin: 20px;
}

#blog-page {
    display: none;
}

#backArrow {
    position: relative;
    cursor: pointer;
}

.topper {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}

#deleteBlogBtn {
    position: absolute;
    bottom: 88px;
}

@media (max-width: 450px) {
    #blog {
        width: 80%;
        margin: 10px 0;
        display: flex;
        margin-top: 40px;
    }
    #blogs {
        justify-content: center;
        align-items: center;
    }
    #readBlogBtn {
        margin-top: 5px;
    }
}