*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: #fff;
}

header nav a {
    color: blueviolet;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
}

header nav a:hover {
    color: #fff;
    text-decoration: underline;
}

header {
    height: 10vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogs {
    height: 70vh;
    width: 95%;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#blog {
    border: 1px solid grey;
    height: 95%;
    width: 30%;
    margin-left: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blog h1 {
    font-size: 18px;
    margin: 2px 5px;
}

#blog p {
    font-size: 10px;
    margin: 2px 5px;
}

#blog img {
    height: 40%;
    width: 95%;
    border-radius: 10px;
}

#blog button {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#addIcon {
    /* margin-left: 100px; */
    position: fixed;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

#addBlog {
    display: none;
    height: 50vh;
}